/*common.css*/
@charset "UTF-8";

/*모든 페이지에 적용될 css처리 코드*/
*{margin:0 auto;}

/*모든 컨텐츠를 포함하는 박스*/
#wrap {
	width:1280px;
	background:#eeeeee;
	text-align:center;
	position:relative;
}

/*모든 이미지 태그 테두리 없음*/

img{border:0; margin:0;}

/*footer*/

#footerBox div{
	background:#777777;
	border:solid 1px #999999;
	margin-top:10px;
	padding:20px;
	margin:0px;
}

#bottomMenuBox{
	height:30px;
	line-height:30px;
}

#bottomMenuBox li{
	display:inline-block;
	text-align:center;
	padding:5px;
	list-style:none;
}

#bottomMenuBox li a {
	color:white;
	font-weight:bold;
	text-decoration:none;
}

/*Top 버튼*/
#moveToTopBox:hover{opacity:0.8; cursor:pointer;}















